
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.3rem;
  background-color: #d3d3d3; 
  color: #333; 
  border: 1px solid #a9a9a9; 
  margin-top: 1rem; 
}

.navbarLogo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 7rem;
}

.navbarLinks {
  margin-left: 20rem;
  display: flex;
  gap: 2rem; 
}

.navbarLinks a {
  color: #333; 
  text-decoration: none;
  font-size: 1rem;
}

.navbarLinks a:hover {
  text-decoration: underline;
}

.navbarButtons {
  display: flex;
  gap: 1rem; 
}

.navbarButtons button {
  background-color: transparent; 
  color: #333; 
  border: none; 
  border-radius: 4px; 
  padding: 0.5rem 1rem; 
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.navbarButtons button:hover {
  background-color: #333; 
  color: #fff; 
}
