.container {
    text-align: center; 
}

.heading {
    color: #333; 
    margin-bottom: 1rem; 
}

.content {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    margin-bottom: 1rem; 
}

.paragraph {
    color: #777; 
    margin-bottom: 1rem; 
    text-align: center; 
}

.addButton {
    background-color: transparent; 
    color: #333; 
    border: none; 
    border-radius: 4px; 
    padding: 0.5rem 1rem; 
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    margin-top: 0.5rem; 
    margin-left: 4rem;
}

.addButton:hover {
    background-color: #333; 
    color: #fff; 
}


.productGrid {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1rem; 
    margin-top: 2rem; 
}

.productBlock {
    width: 30%; 
    max-width: 300px; 
    text-align: center; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 1rem; 
    background-color: #f9f9f9; 
    position: relative; 
}

.productImageWrapper {
    width: 100%; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 8px; 
    margin-bottom: 1rem; 
    position: relative; 
}

.productImage {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.iconContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px; 
}

.icon {
    font-size: 18px;
    color: darkgrey; 
    cursor: pointer;
}

.icon:hover {
    color: #333; 
}

.productName {
    font-size: 1.1rem; 
    color: #333; 
    margin-top: 0.5rem; 
    margin-right: 75%;
}

.productBrand {
    color: #777; 
    margin-top: 0.25rem; 
    margin-right: 75%;
}

.productPrice {
    font-size: 1.1rem; 
    color: #333; 
    margin-top: 0.25rem; 
    margin-right: 75%;
}

.confirmDialog {
    position: absolute; 
    bottom: 250px; 
    left: 90%;
    transform: translateX(-50%);
    background-color: #f9f9f9; 
    border: 1px solid #a9a9a9;
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    text-align: center;
    width: 140px; 
}

.confirmDialog p {
    color: #777;
    margin-bottom: 3px; 
    font-size: 0.8rem; 
}

.confirmButton, .cancelButton {
    background-color: transparent; 
    color: #333; 
    border: none; 
    border-radius: 4px; 
    padding: 0.3rem 0.6rem; 
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.confirmButton:hover, .cancelButton:hover {
    background-color: #333; 
  color: #fff; 
}


.viewMoreButton {
    margin: 2rem ;
    margin-bottom: 5rem;
    background-color: transparent; 
  color: #333; 
  border: none; 
  border-radius: 4px; 
  padding: 0.5rem 1.3rem; 
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.viewMoreButton:hover {
    background-color: #333; 
    color: #fff; 
}
